<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.icytower">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UltimateCop.Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UltimateCop.Activities.MyHighscore" />
        <activity android:name=".UltimateCop.Activities.NewGame" />
        <activity android:name=".UltimateCop.Activities.Instructions" />
        <activity
            android:name=".UltimateCop.Activities.YourDetails"
            android:label="@string/title_activity_your_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UltimateCop.Activities.Result"></activity>
        <activity
            android:name=".UltimateCop.Activities.DifficultyOption"
            android:label="@string/title_activity_difficulty_option"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>